	<!--Affiche les stats ici -->
	<div class="clv_partner_wrapper">
		<div class="container-fluid">
			<div class="row justify-content-center">
            
                <div class="col-md-12">

                    <div class="">

                        <div class="row">

                            <div class="col-md-4" style="transform: skewX(-30deg); background-color: #2eab82;"> 

                                <div class="footer_service_block" style="border: transparent;">

                                    <h6 style="color: #fff; text-transform: uppercase;font-weight: 600;font-size: 14px; transform: skewX(30deg);"> Nbre de Plan de Passation </h6>

                                </div>

                            </div>

                            <div class="col-md-4" style="transform: skewX(-30deg); background-color: #299a75;"> 

                                <div class="footer_service_block" style="border: transparent;">

                                    <h6 style="color: #fff; text-transform: uppercase;font-weight: 600;font-size: 14px; transform: skewX(30deg);"> Nbre d'avis Généraux </h6>

                                </div>

                            </div>

                            <div class="col-md-4" style="transform: skewX(-30deg); background-color: #258968;"> 

                                <div class="footer_service_block" style="border: transparent;">

                                    <h6 style="color: #fff; text-transform: uppercase;font-weight: 600;font-size: 14px; transform: skewX(30deg);"> Nbre d'attribution Provisoire </h6>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

			</div>
		</div>
    </div>