	<!--Partner-->
	<div class="clv_partner_wrapper clv_section">
		<div class="container">
			<div class="row justify-content-center">
            
                <div class="col-md-9">

                    <div class="footer_service_wrapper">

                        <div class="row">

                            <div class="col-md-4"> 
                                <div class="footer_service_block">

                                    <h6 style="color: #fff; text-transform: uppercase;font-weight: 600;font-size: 14px;"> Nbre de Plan de Passation </h6>
                                </div>
                            </div>

                            <div class="col-md-4"> 
                                <div class="footer_service_block">

                                    <h6 style="color: #fff; text-transform: uppercase;font-weight: 600;font-size: 14px;"> Nbre d'avis Généraux </h6>
                                </div>
                            </div>

                            <div class="col-md-4"> 
                                <div class="footer_service_block">

                                    <h6 style="color: #fff; text-transform: uppercase;font-weight: 600;font-size: 14px;"> Nbre d'attribution Provisoire </h6>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>

			</div>
		</div>
	</div>