	<!-- Section reservé aux articles de Blog -->
	<div class="agri_blog_wrapper clv_section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 col-md-6">
					<div class="clv_heading">

                        <h3> {{ section }} </h3>
                        
					</div>
				</div>
			</div>
			<div class="agri_blog_inner">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="blog_section">
							<div class="agri_blog_image">
								<img src="https://via.placeholder.com/570x350" alt="image" />
								<span class="agri_blog_date"> {{today | date}} </span>
							</div>
							<div class="agri_blog_content">
								<h3><a href="blog_single.html"> La plateforme des marchés publics du Sénégal </a></h3>
								<div class="blog_user">
									<div class="user_name">
										<img src="../../assets/images/user.png" alt="image" />
										<a href="javascript:;"><span> {{user}} </span></a>
									</div>
									<div class="comment_block">
										<span><i class="fa fa-comments-o" aria-hidden="true"></i></span>
										<a href="javascript:;"> 26 commentaires </a>
									</div>
								</div>
								<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
								<a href="javascript:;"> Lire Plus <span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span></a>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="right_blog_section">
							<div class="right_blog_block">
								<div class="right_blog_image">
									<img src="https://via.placeholder.com/230x285" alt="image" />
								</div>
								<div class="right_blog_content">
									<span class="agri_blog_date"> {{today | date}} </span>
									<h3><a href="blog_single.html"> Les attributions de marchés Kesako ? </a></h3>
									<div class="blog_user">
										<div class="user_name">
											<img src="../../assets/images/user.png" alt="image" />
											<a href="javascript:;"><span> {{user}} </span></a>
										</div>
										<div class="comment_block">
											<span><i class="fa fa-comments-o" aria-hidden="true"></i></span>
											<a href="javascript:;"> 50 commentaires </a>
										</div>
									</div>
									<p>Duis aute irure dolor in reprehenderit itate velit esse cillum dolore eu fugiat nullriaturr sint occaecat cupidataon.</p>
									<a href="javascript:;"> Lire Plus <span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span></a>
								</div>
							</div>
							<div class="right_blog_block">
								<div class="right_blog_image">
									<img src="https://via.placeholder.com/230x285" alt="image" />
								</div>
								<div class="right_blog_content">
									<span class="agri_blog_date"> {{today | date}} </span>
									<h3><a href="blog_single.html"> Soumettre à un appel d'offre </a></h3>
									<div class="blog_user">
										<div class="user_name">
											<img src="../../assets/images/user.png" alt="image" />
											<a href="javascript:;"><span> {{user}} </span></a>
										</div>
										<div class="comment_block">
											<span><i class="fa fa-comments-o" aria-hidden="true"></i></span>
											<a href="javascript:;"> 13 commentaires </a>
										</div>
									</div>
									<p>Duis aute irure dolor in reprehenderit itate velit esse cillum dolore eu fugiat nullriaturr sineropit occaecat cupidataon.</p>
									<a href="javascript:;"> Lire Plus <span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>