<div class="row justify-content-center">
<div class="col-md-9 col-lg-9">

                                <!-- Lister les appels d'offres ici -->
                        <div class="product_items_section">
                            <ul>
                                
                                <li>
                                    <div class="product_item_block">
                                        <div class="org_product_block">
                                            <span class="product_label">Delai <br> 07 Jours</span>
                                            
                                            <p style="font-weight: 900;">Objets</p>
                                            <p class="text-justify mak10"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, maxime! Libero hic culpa aut nihil. Totam obcaecati exercitationem sit, placeat, deleniti expedita eaque provident culpa laboriosam corporis tempora corrupti dolorum.</p>
                                            <p style="font-weight: 900;">Autorité Contractante</p>
                                            <p class="text-justify mak10"> GAINDE2000 </p>  
                                            <a href="javascript:;"> Consulter </a>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="product_item_block">
                                        <div class="org_product_block">
                                            <span class="product_label">Delai <br> 10 Jours</span>
                                            
                                            <p style="font-weight: 900;">Objets</p>
                                            <p class="text-justify mak10"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, maxime! Libero hic culpa aut nihil. Totam obcaecati exercitationem sit, placeat, deleniti expedita eaque provident culpa laboriosam corporis tempora corrupti dolorum.</p> 
                                            <p style="font-weight: 900;">Autorité Contractante</p>
                                            <p class="text-justify mak10"> ARMP </p> 
                                            <a href="javascript:;"> Consulter </a>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="product_item_block">
                                        <div class="org_product_block">
                                            <span class="product_label">Delai <br> 09 Jours</span>
                                            
                                            <p style="font-weight: 900;">Objets</p>
                                            <p class="text-justify mak10"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, maxime! Libero hic culpa aut nihil. Totam obcaecati exercitationem sit, placeat, deleniti expedita eaque provident culpa laboriosam corporis tempora corrupti dolorum.</p>
                                            <p style="font-weight: 900;">Autorité Contractante</p>
                                            <p class="text-justify mak10"> SONATEL </p>  
                                            <a href="javascript:;"> Consulter </a>
                                        </div>
                                    </div>
                                </li> 
                            </ul>
                      </div>
</div>

<app-paginate></app-paginate>

 </div>