	<div class="clv_header">
		<span class="header_shape">
			<svg 
			 xmlns="http://www.w3.org/2000/svg"
			 xmlns:xlink="http://www.w3.org/1999/xlink"
			 width="1920px" height="135px">
			<path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M0.000,100.999 C0.000,100.999 217.931,100.999 284.971,100.999 C352.010,100.999 392.861,134.998 445.971,134.998 C499.080,134.998 544.349,100.999 609.971,100.999 C666.112,100.999 1920.000,100.999 1920.000,100.999 L1920.000,-0.000 L0.000,-0.000 L0.000,100.999 Z"/>
			</svg>
		</span>

		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4">
					<div class="clv_left_header">
						<div class="clv_logo">
							<a [routerLink] = "['/']" [queryParams]="{debug: true}"><img style="max-width: 210px;" src="../../assets/images/logo portail_noir.png" alt="Portail" /></a>
						</div>
					</div>
				</div>
				<div class="col-lg-8 col-md-8">
					<div class="clv_right_header">
						<div class="clv_menu">
							<div class="clv_menu_nav">
                                
								<ul>

									<li class="menn">
										<a [routerLink] = "['/']" [queryParams]="{debug: true}"> Acceuil </a>
									</li>
									
                                    <li class="menn">
                                        <a href="javascript:;"> Consultations </a>
                                        <ul>
											<li class="menn"><a [routerLink] = "['/']" [queryParams]="{debug: true}"> Code des marchés 2017 </a></li>
											<li class="menn"><a [routerLink] = "['/']" [queryParams]="{debug: true}"> Espace Législation </a></li>
											<li class="menn"><a [routerLink] = "['/']" [queryParams]="{debug: true}"> Liste des DAO </a></li> 
										</ul>
									</li>
									
									<li class="menn">
										<a href="javascript:;"> Organes </a>
										<ul>
											<li class="menn"><a [routerLink] = "['/']" [queryParams]="{debug: true}"> ARMP </a></li>
											<li class="menn"><a [routerLink] = "['/']" [queryParams]="{debug: true}"> Audit </a></li>
										</ul>
									</li>

									<li class="menn">
                                        <a [routerLink] = "['/blog']" [queryParams]="{debug: true}"> Actualités </a>
									</li>

									<li class="menn">
										<a [routerLink] = "['/contact']" [queryParams]="{debug: true}"> Contact </a>
									</li>

                                    <li class="menn"> 
                                        <a [routerLink] = "['/login']" [queryParams]="{debug: true}"> Connexion </a>
									</li>
									
								</ul>
                            </div>
                            
							<div class="cart_nav">
								<ul>

									<li>
										<a class="search_toggle" href="javascript:;"><i class="fa fa-search" aria-hidden="true"></i></a>
									</li>

									<li class="menu_toggle">
										<span>
											<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 53 53" style="enable-background:new 0 0 53 53;" xml:space="preserve" width="20px" height="20px">
											<g>
												<g>
													<path d="M2,13.5h49c1.104,0,2-0.896,2-2s-0.896-2-2-2H2c-1.104,0-2,0.896-2,2S0.896,13.5,2,13.5z"/>
													<path d="M2,28.5h49c1.104,0,2-0.896,2-2s-0.896-2-2-2H2c-1.104,0-2,0.896-2,2S0.896,28.5,2,28.5z"/>
													<path d="M2,43.5h49c1.104,0,2-0.896,2-2s-0.896-2-2-2H2c-1.104,0-2,0.896-2,2S0.896,43.5,2,43.5z"/>
												</g>
											</g>
											</svg>
										</span>
									</li>
									
								</ul>
                            </div>  
						</div>
					</div>
				</div>
			</div>
		</div>

    </div>
    