	<!--Banner Slider-->
	<div class="clv_banner_slider">
		<!-- Swiper -->
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="clv_slide">
						<div class="container">
							<div class="clv_slide_inner">
								<h1>Portail du marché public<br /> du Sénégal</h1>
								<a href="javascript:;" class="clv_btn">En Savoir Plus </a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Add Pagination 
            <div class="swiper-pagination"></div>
            
			<span class="banner_left org_arrow">
				<i class="fa fa-angle-left" aria-hidden="true"></i> <u>Précédent</u>
			</span>
			<span class="banner_right org_arrow right_arrow">
				<u>Suivant</u><i class="fa fa-angle-right" aria-hidden="true"></i>
			</span> -->
		</div>
	</div>
